<h3>Dam Asset Update Worker did not get a successfull response from the Dam.</h3>
<br />
<br />
<div><b>Environment:</b> <u><%=Rails.env%></u></div>
<br />
<br />
<div><b>The asset id in question was:</b> <u><%=@request_body['asset_type_id']%></u></div>
<br />
<br />
<div><b>The Program ID in question was:</b> <u><%=@request_body['update_queries'].first['metadata_value']%></u></div>
<br />
<br />
<div><b>The full request sent was:</b> <%={body: @request_body, headers: {'Authorization' => ActionController::HttpAuthentication::Token.encode_credentials(@auth_key)}}%></div>
<br />
<br />
<div><b>The response from the DAM was:</b> <%=@response%></div>
